body {
  background: orange;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 0.5vw);
  text-align: center;
}

.topbar {
    overflow: hidden;
    background: black;
}

.topbar button {
    float: left;
    background: black;
    color: orange;
    text-align: center;
    padding: 1%;
    text-decoration: none;
    font-size: 1em;
    border: none;
}

.topbar button:hover {
    background: gray;
}

.tournamentcontainer {
    background: white;
    padding: 1%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.pre_next_div{
  display: flex;
  text-align: center;
}

.buttondiv {
  display: flex;
  text-align: center;
}

.tournamentresultstable {
    border-collapse: collapse;
    width: 66%;
}

.tournamentresultstable td, th {
    border: 1px solid;
    text-align: center;
    padding: 1%;
    width: 6%;
}

.previousresultstable td {
    text-align: center;
    padding: 1%;
    width: 1%;
}

.nextresultstable td {
    text-align: center;
    padding: 1%;
    width: 1%;
}

button {
    background: darkgreen;
    color: orange;
    padding: 1%;
    text-align: center;
    font-size: 1em;
}
  
button:hover{
    background:green;
    color: orange;
}
  
abbr { 
    display: inline;
    cursor: help;
} 