@media all and (min-width: 50px) {  body  {   font-size:0.1em;  } }
@media all and (min-width: 100px) {  body  {   font-size:0.2em;  } }
@media all and (min-width: 200px) {  body  {   font-size:0.4em;  } }
@media all and (min-width: 300px) {  body  {   font-size:0.6em;  } }
@media all and (min-width: 400px) {  body  {   font-size:0.8em;  } }
@media all and (min-width: 500px) {  body  {   font-size:1.0em;  } }
@media all and (min-width: 500px) {  body  {   font-size:1.2em;  } }

body {
    background: orange;
}
button {
    background: darkgreen;
    color: orange;
    padding: 1%;
    text-align: center;
    font-size: calc(10px + 0.5vw);
}

.trialdiv {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    border: solid 2px;
    background: white;
}

input[type="text"]
{
    border: none;
    background: transparent;
    font-weight: bold;
}