<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <title>Ping Pong Tournament Game!</title>
</head>

<body>
    <p class="home_p">Ultimate Ping Pong Tournament Game!</p><br>
    <span class="homespan">&#8226 16 players</span>
    <span class="homespan">&#8226 120 matches</span><br><br>
    <span class="homespan">&#8226 But only one winner</span><br><br><br><br>
    <span class="homespan">Who will be the master of Ultimate Ping Pong Tournament?</span>
    <br><br><br><br>
    <button type="button" onclick="location.href='login'">Get started!</button>
</body>

</html>