<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="logindiv">
        <h1>Login</h1>

        <p>Type your username and password to log in.</p>
        <br><br>
        <form action="/u_login" method="POST">
            Username:
            <input type="text" name="username"><br>
            Password:
            <input type="password" name="password"><br><br>
            <button type="submit">Log in!</button>
        </form>
        <a href="register">Don't have an account? Click here to create an account!</a><br>
        <a href="#">Forgot your password? Click here for password reset!</a>
    </div>

</body>

</html>