<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/mainpage.css">
  <title>Ping Pong Tournament Game!</title>
</head>

<body>
  <div class="topbar">
    <form action="mainpage"><button type="submit">Main page</button></form>
    <form action="profile"><button type="submit">Profile</button></form>
    <button>Instructions</button>
    <form action="/logout" method="POST"><button type="submit" style="float:right">Log out</button></form>
  </div>
  <div class="tournamentcontainer">
        <h2>Preliminary round</h2>
        <table class="tournamentresultstable">
          <caption><h3>Group A</h3></caption>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th><abbr title="Games played">PLD</abbr></th>
            <th><abbr title="Wins">W</abbr></th>
            <th><abbr title="Overtime wins">OTW</abbr></th>
            <th><abbr title="Overtime losses">OTL</abbr></th>
            <th><abbr title="Losses">L</abbr></th>
            <th><abbr title="Balls for">BF</abbr></th>
            <th><abbr title="Balls against">BA</abbr></th>
            <th><abbr title="Ball difference">BD</abbr></th>
            <th><abbr title="Points">Pts</abbr></th>
          </tr>
          <tr bgcolor="#cfc">
            <td>1</td>
            <td>YourName</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>11</td>
            <td>1</td>
            <td>10</td>
            <td>3</td>
          </tr>
          <tr bgcolor="#cfc">
            <td>2</td>
            <td>Player3</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>11</td>
            <td>4</td>
            <td>7</td>
            <td>3</td>
          </tr>
          <tr bgcolor="#cfc">
            <td>3</td>
            <td>Player10</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>11</td>
            <td>5</td>
            <td>6</td>
            <td>3</td>
          </tr>
          <tr bgcolor="#fcc">
            <td>4</td>
            <td>Player9</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>11</td>
            <td>6</td>
            <td>5</td>
            <td>3</td>
          </tr>
        </table>
        <div class = "pre_next_div"> 
        <table class="previousresultstable">
          <caption><h3>Previous matches</h3></caption>
          <tr>
            <td>YourName</td>
            <td>-</td>
            <td>Player4</td>
            <td>11</td>
            <td>-</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Player15</td>
            <td>-</td>
            <td>Player12</td>
            <td>10</td>
            <td>-</td>
            <td>12</td>
          </tr>
        </table><br>
        <table class="nextresultstable">
          <caption><h3>Next matches</h3></caption>
          <tr>
            <td>YourName</td>
            <td>-</td>
            <td>Player15</td>
            <td></td>
            <td>-</td>
            <td></td>
          </tr>
          <tr>
            <td>Player12</td>
            <td>-</td>
            <td>Player14</td>
            <td></td>
            <td>-</td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="buttondiv">      
        <button type="button">New tournament!</button>
        <form action="/game" method="POST"><button type="submit">Play next game!</button></form>
        </div>
  </div>
</body>
</html>