<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
    <title>User profile</title>
</head>

<body>
    <div class="topbar">
        <form action="mainpage"><button type="submit">Main page</button></form>
        <form action="profile"><button type="submit">Profile</button></form>
        <button>Instructions</button>
        <form action="/logout" method="POST"><button type="submit" style="float:right">Log out</button></form>
    </div>
    <div class="profilecontainer">
        <div class="gamesettingscontainer">
            <h2>Game settings:</h2>
            <p>User can select here, will the tournament game end in 11 or 21 points.</p>
        </div>
        <div class="accountsettingscontainer">
            <h2>Account settings:</h2>
            <p>User can change here properties of the user account. These include email address and password. It is also
                possible to delete the account.</p>
        </div>
    </div>

</body>

</html>