<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/trialaccount.css">
    <title>Trial account created</title>
</head>

<body>
    <div class="trialdiv">
        <h1>Trial account created!</h1>
        <p class="trial_account_p">Your trial account has been created with following credentials:</p>
        <form id="trial_login_form" action="t_login" method="POST">
            Username: <input type="text" id="t_user" readonly name="t_username" value="<%= trial_u %>"><br>
            Password: <input type="text" id="t_pass" readonly name="t_password" value="<%= trial_p %>">
        </form>
        <p class="trial_account_p"><s style="color:black">The account exists next 24 hours and will be deleted after that.</s></p>
        <p class="trial_account_p">It is HIGHLY recommeded to copy and save these login credentials e.g. to a text file.
            The credentials cannot be recovered, if forgotten.</p>

        <button onclick="copyCredentials()">Copy to clipboard!</button>
        <p class="trial_account_p">You can now log in with the trial account by clicking the button below. Please use
            the normal login page for later logins.</p>
        <button type="submit" form="trial_login_form">Log in now!</button>
    </div>
    <script> //Copies trial account login credentials to the clipboard
        function copyCredentials() {

            const copyUsername = document.getElementById("t_user");
            const copyPassword = document.getElementById("t_pass");

            copyUsername.select();
            copyPassword.select();

            const copyUsernameString = "Username: " + copyUsername.value;
            const copyPasswordString = "Password: " + copyPassword.value;

            const credentials = [copyUsernameString, copyPasswordString];

            let dummy = document.createElement("input");
            document.body.appendChild(dummy);
            dummy.setAttribute("value", credentials);
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);

        } 
    </script>
</body>

</html>